* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(120deg, #2b292e 0%, #9f85fd 100%);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}
header {
  font-size: 2rem;
}

.todoInfo > h1{
text-align: center;
border-bottom: 1px solid white;
}
header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
form{
  flex-wrap: wrap;
  
}
.form > input{
  margin-left: 15px;
  margin-right: 15px;
  outline: 0;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
  outline: 0;
}
form button {
  color: #2b292e;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}
form button:hover {
  background: #6e24db;
  color: white;
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  font-size: 1.5rem;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}
.todoInfo{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.trash-btn,
.complete-btn {
  background: #2b292e;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: #915ddf;
}
.todo-item {
  padding: 0rem 0.5rem;
}





.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

/*CUSTOM SELECTOR */
select {
  outline: 0;
  box-shadow: none;

}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #2b292e;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  width: 12rem;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  background: #2b292e;
  cursor: pointer;
  pointer-events: none;
}


@media only screen and (max-width: 600px) {
  form button {
     display: none;
  }
}